<div class="forgot-pass-container">
  <!-- Image: Desktop-only view -->
  <div class="image-section">
    <img src="/auth-page-main.png" alt="Fitness image"/>
  </div>

  <mat-card class="form-section">
    <h2>Recover your password</h2>
    <div class="logo-wrapper">
      <img src="/logos/FitWiseLogo.png" alt="FitWise Logo"/>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-content" novalidate>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email"/>
        <mat-error *ngIf="form.controls['email'].hasError('required')">
          Email is required
        </mat-error>
        <mat-error *ngIf="form.controls['email'].hasError('email')">
          Enter a valid email
        </mat-error>
      </mat-form-field>

      <button mat-flat-button color="primary" class="full-width" type="submit">
        Send Reset Link
      </button>
    </form>

    <div *ngIf="message" class="feedback success">{{ message }}</div>
    <div *ngIf="error" class="feedback error">{{ error }}</div>
  </mat-card>
</div>
