<div class="forgot-pass-container">
  <div class="image-section">
    <img src="/auth-page-main.png" alt="Fitness image" />
  </div>

  <mat-card class="form-section neon-background">
    <h2 class="title">FitWise</h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-content" novalidate>

      <input placeholder="Correo electrónico" type="email" formControlName="email" class="custom"/>
      <mat-error *ngIf="form.controls['email'].hasError('required')">
        <a class="emailText">Email is required</a>
      </mat-error>
      <mat-error *ngIf="form.controls['email'].hasError('email')">
        <a class="emailText">Enter a valid email</a>
      </mat-error>


      <button mat-flat-button color="primary" class="full-width submit-btn" type="submit">
        Enviar enlace de recuperación
      </button>
    </form>

    <div class="bottom-links">
      <a routerLink="/sign-in">← Volver al inicio de sesión</a>
    </div>

    <div *ngIf="message" class="feedback success">{{ message }}</div>
    <div *ngIf="error" class="feedback error">{{ error }}</div>
  </mat-card>
</div>
