.forgot-pass-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f6f5;
}
.forgot-pass-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .image-section {
    display: none;

    @media (min-width: 768px) {
      display: block;
      margin-right: 2rem;

      img {
        width: 300px;
      }
    }
  }
  .custom{
    padding: 0.75rem;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 1rem;
    outline: none;
    background-color: white;
    color: black;
    width: 90%;
    box-sizing: border-box;
  }
  .form-section {
    background-color: #d9ff3f; // neón similar al login
  padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;

    .title {
      text-align: center;
      font-size: 1.8rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    .form-content {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding-left: 20px;

    }
    .emailText{
      color: #ff0000;

    }
    .input-rounded {
      input {
        border-radius: 15px !important;
      }
    }

    .submit-btn {
      background-color: cyan;
      color: black;
      font-weight: bold;
      border-radius: 15px;
      width: 90%;
    }

    .bottom-links {
      margin-top: 1rem;
      text-align: center;
      a {
        color: black;
        font-weight: 600;
        text-decoration: underline;
      }
      padding-bottom: 10px;
    }

    .feedback {
      margin-top: 1rem;
      text-align: center;

      &.success {
        color: green;
      }

      &.error {
        color: red;
      }
    }
  }
}
