/* Contenedor de la tarjeta */
.diet-card {
  margin-bottom: 20px;
  transition: transform 0.2s, box-shadow 0.3s, background-color 0.3s;
  cursor: pointer;
  border-radius: 12px;
}

/* Tarjeta Angular Material personalizada */
.diet-card mat-card {
  padding: 20px;
  border-radius: 15px;
  background-color: white;
  border: 2px solid #ccf400;
  transition: background-color 0.3s, border-color 0.3s;
}

/* Hover de toda la tarjeta */
.diet-card:hover mat-card {
  background-color: #fdfde2; /* amarillo claro sutil */
  border-color: black;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

/* Título */
.diet-card mat-card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
  margin-bottom: 10px;
}

/* Contenido */
.diet-card mat-card-content {
  font-size: 0.95rem;
  color: #333;
}
