<div class="sign-up-container">
  <!-- Imagen visible solo en escritorio -->
  <div class="image-section">
    <img src="/auth-page-main.png" alt="Fitness image" />
  </div>

  <!-- Formulario -->
  <mat-card class="form-section">
    <div class="logo-wrapper">
      <img src="/logos/FitWiseNoBG.png" alt="FitWise Logo" />
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-content">

      <input placeholder="{{ 'SIGNUP.EMAIL_PLACEHOLDER' | translate }}" type="email" formControlName="email" class="custom" />
      <mat-error *ngIf="form.controls['email'].hasError('required')">
        <a class="emailText">{{ 'SIGNUP.EMAIL_REQUIRED' | translate }}</a>
      </mat-error>
      <mat-error *ngIf="form.controls['email'].hasError('email')">
        <a class="emailText">{{ 'SIGNUP.EMAIL_INVALID' | translate }}</a>
      </mat-error>

      <input placeholder="{{ 'SIGNUP.PASSWORD_PLACEHOLDER' | translate }}" type="password" formControlName="password" class="custom" />
      <mat-error *ngIf="form.controls['password'].hasError('required')">
        <a class="emailText">{{ 'SIGNUP.PASSWORD_REQUIRED' | translate }}</a>
      </mat-error>

      <button mat-flat-button color="primary" class="full-width submit-btn" type="submit">
        {{ 'SIGNUP.SUBMIT' | translate }}
      </button>
    </form>

    <div class="bottom-links">
      <span>{{ 'SIGNUP.ALREADY_HAVE_ACCOUNT' | translate }}
        <a class="link" (click)="navigateToLogin()">{{ 'SIGNUP.LOGIN_LINK' | translate }}</a>
      </span>
    </div>
  </mat-card>
</div>
