<div class="sign-in-wrapper">
  <div class="left-section">
    <img src="/logos/FitWiseLogo.png" alt="FitWise" class="logo-img" />
  </div>

  <div class="right-section">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-section">
      <div class="logo-title">FitWise</div>

      <input
        matInput
        placeholder="Correo electrónico"
        formControlName="email"
        class="custom-input"
      />

      <input
        matInput
        placeholder="Contraseña"
        type="password"
        formControlName="password"
        class="custom-input"
      />



      <button mat-flat-button color="primary" class="login-button" type="submit">
        Iniciar sesión
      </button>

      <div class="links-container">
        <span>¿Olvidaste tu contraseña? <strong class="link" (click)="navigateToForgotPassword()">Recuperar</strong></span>
        <span>¿No tienes cuenta? <strong class="link" (click)="navigateToRegister()">Registrarse</strong></span>
      </div>

      <div class="divider">
        <hr />
        <span>O inicia sesión con</span>
        <hr />
      </div>

      <button mat-stroked-button class="google-btn">G</button>
    </form>
  </div>
</div>
