<div class="sign-in-container">
  <!-- Image: Desktop-only view -->
  <div class="image-section">
    <img src="/auth-page-main.png" alt="Fitness image" />
  </div>

  <!-- Form: Always visible -->
  <mat-card class="form-section">
    <div class="logo-wrapper">
      <img src="/logos/FitWiseLogo.png" alt="FitWise Logo" />
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-content">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password" />
      </mat-form-field>

      <button mat-flat-button class="login-button full-width" type="submit">
        Sign In
      </button>
    </form>

    <div class="container-actions">
      <div class="links full-width">
        <span>Forgot your password? <strong class="link">Reset password</strong></span>
        <span>No account? <strong class="link" (click)="navigateToRegister()">Sign Up</strong></span>
      </div>

      <div class="divider full-width">
        <hr/>
        <span>Sign In with</span>
      </div>

      <button mat-stroked-button class="google-btn">G</button>
    </div>
  </mat-card>
</div>
