<div class="sign-in-wrapper">
  <div class="left-section">
    <img src="/logos/FitWiseLogo.png" alt="FitWise" class="logo-img" />
  </div>

  <div class="right-section">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-section">
      <div class="logo-title">FitWise</div>

      <input
        matInput
        placeholder="{{ 'LOGIN.EMAIL_PLACEHOLDER' | translate }}"
        formControlName="email"
        class="custom-input"
      />

      <input
        matInput
        placeholder="{{ 'LOGIN.PASSWORD_PLACEHOLDER' | translate }}"
        type="password"
        formControlName="password"
        class="custom-input"
      />

      <button
        [disabled]="onLoading"
        mat-flat-button
        color="primary"
        class="login-button"
        type="submit"
      >
        {{ 'LOGIN.SUBMIT' | translate }}
      </button>

      <div class="links-container">
        <span>
          {{ 'LOGIN.FORGOT' | translate }}
          <strong class="link" (click)="navigateToForgotPassword()">{{ 'LOGIN.RECOVER' | translate }}</strong>
        </span>
        <span>
          {{ 'LOGIN.NO_ACCOUNT' | translate }}
          <strong class="link" (click)="navigateToRegister()">{{ 'LOGIN.REGISTER' | translate }}</strong>
        </span>
      </div>

      <div class="divider">
        <hr />
        <span>{{ 'LOGIN.OR_SIGN_WITH' | translate }}</span>
        <hr />
      </div>

      <button mat-stroked-button class="google-btn">G</button>
    </form>
  </div>
</div>
