.diets-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 1rem;
}

.community-diets, .create-diet {
  width: 48%;
  padding: 1rem;
  background-color: #c7ff00;
  border-radius: 10px;
}

.diet-card {
  background: white;
  border-radius: 10px;
  padding: 1rem;
  margin: 1rem 0;
  cursor: pointer;
  transition: transform 0.2s;
}

.diet-card:hover {
  transform: scale(1.02);
  background-color: #f0f0f0;
}

.my-diet {
  margin-top: 2rem;
  background-color: #c7ff00;
  padding: 1rem;
  border-radius: 10px;
}
