<div class="forgot-pass-container">
  <!-- Imagen solo visible en escritorio -->
  <div class="image-section">
    <img src="/auth-page-main.png" alt="Fitness image" />
  </div>

  <!-- Sección del formulario -->
  <mat-card class="form-section">
    <h2 class="title">{{ 'RESET.TITLE' | translate }}</h2>

    <div class="logo-wrapper" style="text-align: center; margin-bottom: 1rem;">
      <img src="/logos/FitWiseLogo.png" alt="FitWise Logo" style="width: 100px;" />
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-content" novalidate>
      <input
        type="password"
        placeholder="{{ 'RESET.PLACEHOLDER' | translate }}"
        formControlName="newPassword"
        class="custom"
      />

      <mat-error *ngIf="form.controls['newPassword'].hasError('required')">
        <a class="emailText">{{ 'RESET.ERROR_REQUIRED' | translate }}</a>
      </mat-error>
      <mat-error *ngIf="form.controls['newPassword'].hasError('minlength')">
        <a class="emailText">{{ 'RESET.ERROR_MINLENGTH' | translate }}</a>
      </mat-error>

      <button mat-flat-button color="primary" class="submit-btn" type="submit">
        {{ 'RESET.SUBMIT' | translate }}
      </button>
    </form>

    <div *ngIf="message" class="feedback success">{{ message }}</div>
    <div *ngIf="error" class="feedback error">{{ error }}</div>
  </mat-card>
</div>
