<div class="forgot-pass-container">
  <!-- Imagen solo visible en escritorio -->
  <div class="image-section">
    <img src="/auth-page-main.png" alt="Fitness image"/>
  </div>

  <!-- Sección del formulario -->
  <mat-card class="form-section">
    <h2 class="title">Reset your password</h2>

    <div class="logo-wrapper" style="text-align: center; margin-bottom: 1rem;">
      <img src="/logos/FitWiseLogo.png" alt="FitWise Logo" style="width: 100px;"/>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-content" novalidate>
      <input
        type="password"
        placeholder="Enter your new password"
        formControlName="newPassword"
        class="custom"
      />

      <mat-error *ngIf="form.controls['newPassword'].hasError('required')">
        <a class="emailText">Password is required</a>
      </mat-error>
      <mat-error *ngIf="form.controls['newPassword'].hasError('minlength')">
        <a class="emailText">Minimum length is 6 characters</a>
      </mat-error>

      <button mat-flat-button color="primary" class="submit-btn" type="submit">
        Reset Password
      </button>
    </form>

    <div *ngIf="message" class="feedback success">{{ message }}</div>
    <div *ngIf="error" class="feedback error">{{ error }}</div>
  </mat-card>
</div>
