* {
  color: var(--text-primary-color);
  box-sizing: border-box;
}

/* Columna izquierda */
.planner-form {
  flex: 1 1 300px;

}
.planner-form-content{
  padding: 20px;
  border-radius: 12px;
  background: var(--primary-color);
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Inputs de texto y textarea */
input[type="text"],
textarea {
  width: 100%;
  padding: 10px 12px;
  border-radius: 8px;
  background-color: var(--background-color);
  color: var(--text-primary-color);
  font-size: 1rem;
  font-family: inherit;
  resize: vertical;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: var(--divider-color);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

/* Estilo para mat-form-field */
mat-form-field.full-width {
  width: 100%;
}

/* Estilo para el botón */
button[type="submit"] {
  background-color: var(--accent-color);
  color: var(--text-primary-color);
  border: none;
  padding: 10px 16px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: var(--background-color);
}


h2 {
  text-align: center;
  margin-top: 20px;
  color: var(--text-primary-color);
}

.card-actions button {
  background-color: var(--accent-color);
  color: var(--text-primary-color);
  padding: 8px 16px;
  border: none;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.planner-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}




/* Columna derecha */
.planner-lists {
  flex: 2 1 600px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.plan-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}

.plan-card {
  background-color: var(--primary-color);
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: 0.3s ease;
}

.plan-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.card-header h3 {
  margin: 0;
  font-size: 1.2rem;
}

.card-content p {
  margin: 10px 0;
}

.card-actions {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.tag {
  display: inline-block;
  background-color: #e0f7fa;
  color: #00796b;
  padding: 4px 8px;
  margin: 4px 4px 0 0;
  border-radius: 10px;
  font-size: 0.8rem;
}
