.exercise-management-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}

.full-width {
  width: 100%;
}

.button-group {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.list-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.info {
  flex-grow: 1;
}

.actions {
  display: flex;
  gap: 8px;
}
