<mat-card>
  <mat-card-header>
    <mat-card-title>{{ data.title }}</mat-card-title>
    <mat-card-subtitle>{{ data.note }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <h4>{{ 'WORKOUT_DETAIL.EXERCISES_INCLUDED' | translate }}</h4>
    <ul *ngIf="data.exercises?.length; else noExercises">
      <li *ngFor="let exercise of data.exercises">{{ exercise.title }}</li>
    </ul>
    <ng-template #noExercises>
      <p><em>{{ 'WORKOUT_DETAIL.NO_EXERCISES' | translate }}</em></p>
    </ng-template>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-button (click)="onClose()">
      {{ 'COMMON.CLOSE' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="onAssign()">
      {{ 'WORKOUT_DETAIL.ASSIGN_BUTTON' | translate }}
    </button>
  </mat-card-actions>
</mat-card>
