/* Tarjeta de detalle de rutina */
mat-card {
  background-color: white;
  border: 2px solid #ccf400;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s;
}

mat-card-header {
  margin-bottom: 10px;
}

mat-card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
}

mat-card-subtitle {
  font-size: 1rem;
  color: #444;
}

mat-card-content h4 {
  margin-top: 15px;
  color: #000;
}

mat-card-content ul {
  padding-left: 20px;
  margin-top: 5px;
}

mat-card-content li {
  margin-bottom: 5px;
  color: #333;
}

mat-card-content p em {
  color: #777;
}

mat-card-actions {
  margin-top: 20px;
}

mat-card-actions button[mat-button] {
  color: black;
  font-weight: bold;
}

mat-card-actions button[mat-raised-button] {
  background-color: #ccf400;
  color: black;
  font-weight: bold;
  border-radius: 10px;
  transition: background-color 0.3s;
}

mat-card-actions button[mat-raised-button]:hover {
  background-color: #b5da00;
}
