<div class="right-section">
  <button class="close" mat-button (click)="dialogRef.close()">Cerrar</button>

  <div class="logo-title">FitWise</div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <input
    matInput
    placeholder="Email"
    formControlName="email"
    class="custom-input"
  />
    <input
      matInput
      placeholder="Código de verificación"
      formControlName="verificationCode"
      class="custom-input"
    />

    <button mat-flat-button color="primary" class="login-button" type="submit">
      Verificar correo
    </button>

  </form>
</div>
